.recommnededVideos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;
    position: absolute;
    top: 120px;
    right: 20px;
}

.recommnededVideos-1 {
    width: 83%;
}

.recommnededVideos-2 {
    width: 90%;
}
